
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

.title{
    color:blueviolet;
    font-family:'Poppins', sans-seri ;
}
#button-addon2{
    background-color: blueviolet;
    color: white;
    border: 1% solid white;
}

.moreInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
 
}
#spinner {
  display: none;
}
.details-btn{
    background-color: blueviolet;
    color: white;
}
